<title>451 Legal Reasons</title>
<style>
    body {
        background: black;
        font-size: x-large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
    }
    
    #container {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    img {
        width: 100%;
    }
</style>
<div id="container">
    <img src="https://github.com/saintly2k/saintly2k/blob/main/cnd/images/nyaa/451.png?raw=true" style="width:100%;">
    <h1>Error 451</h1>
    <h3>Content removed due to legal reasons... <i>objection!</i></h3>
</div>