<title>500 Inernal Server Error</title>
<style>
    body {
        background: black;
        font-size: x-large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
    }
    
    #container {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    img {
        width: 100%;
    }
</style>
<div id="container">
    <img src="https://github.com/saintly2k/saintly2k/blob/main/cnd/images/nyaa/500.png?raw=true" style="width:80%;">
    <h1>Error 500</h1>
    <h3>My hosting messed up... <i>sorry~</i></h3>
</div>