* {
    font-family: 'Nunito', sans-serif;
}

#outter-rim {
    background: black;
}

#menu {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

nav.top {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav.bottom {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#container {
    min-height: 100vh;
}

#content {
    min-height: 50vh;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background: cornsilk;
    padding: 10px;
    border-radius: 5px;
}

#footer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: sticky;
    bottom: 0;
}

a {
    color: rebeccapurple;
    text-decoration: dotted;
}

.align-right {
    float: right;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}