.pagination {
    list-style-type: none;
    padding: 10px 0;
    display: inline-flex;
    justify-content: space-between;
    box-sizing: border-box;
    transition: .2s;
}

.pagination li {
    box-sizing: border-box;
    padding-right: 10px;
    transition: .2s;
}

.pagination li a {
    box-sizing: border-box;
    background-color: #e2e6e6;
    padding: 8px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: black;
    border-radius: 4px;
    transition: .2s;
}

.pagination li a:hover {
    background-color: lightblue;
    transition: .2s;
}

.pagination .next a,
.pagination .prev a {
    text-transform: uppercase;
    font-size: 12px;
    transition: .2s;
}

.pagination .currentpage a {
    background-color: black;
    color: #fff;
    transition: .2s;
}

.pagination .currentpage a:hover {
    background-color: blue;
    transition: .2s;
}